@tailwind base;

:root {
  --secondary: white;
  --primary: #000000;
  --link: #d36150;
  --aux: #28353f;
  @apply subpixel-antialiased;
}

[data-theme="dark"] {
  --secondary: #243039;
  --primary: #f7fafc;
  --link: #ea6c59;
  --aux: #c9cdcf;
  @apply subpixel-antialiased;
}

@responsive {
  .bg-gradient {
    background: rgb(36, 88, 82);
    background: linear-gradient(
      119deg,
      rgba(36, 88, 82, 1) 0%,
      rgba(50, 101, 145, 1) 24%,
      rgba(70, 140, 149, 1) 47%,
      rgba(176, 63, 217, 1) 72%,
      rgba(247, 61, 89, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* lora-regular - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"),
    url("../fonts/lora-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Lora Bold"), local("Lora-Bold"),
    url("../fonts/lora-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"),
    url("../fonts/lora-v14-cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Lora Bold"), local("Lora-Bold"),
    url("../fonts/lora-v14-cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-italic - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Lora Italic"), local("Lora-Italic"),
    url("../fonts/lora-v14-cyrillic-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700italic - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local("Lora Bold Italic"), local("Lora-BoldItalic"),
    url("../fonts/lora-v14-cyrillic-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-700 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
    url("../fonts/roboto-mono-v7-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-mono-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.gatsby-highlight {
  font-size: 15px;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 18px;
  min-width: 100%;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"] {
  border-radius: 9px;
  float: left;
  min-width: 100%;
  box-sizing: border-box;
  background-color: rgba(18, 18, 26, 0.808);
}

.gatsby-highlight-code-line {
  background-color: rgba(112, 97, 121, 0.37);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid rgb(224, 197, 255);
}

@media screen and (max-width: 768px) {
  .gatsby-highlight pre[class*="language-"] {
    border-radius: 0px;
  }
}

h1 {
  @apply text-4xl font-bold leading-9;
}

h2 {
  @apply text-3xl font-extrabold leading-9;
}

h3 {
  @apply text-xl;
}

article a,
article + a {
  @apply text-link;
  @apply inline-block;
  @apply border-solid border-b-2 border-red-300;
  @apply duration-200;
}

article + a:hover,
article a:hover {
  @apply border-red-600;
}

article p {
  @apply pb-4;
}

article p:last-child {
  @apply pb-8;
}

article h2 {
  @apply pb-4 pt-8;
}

@tailwind components;

@tailwind utilities;
