@tailwind base;

/* purgecss start ignore */

:root {
  --secondary: white;
  --primary: #000000;
  --link: #d36150;
  --aux: #28353f;
  --clip: circle(0% at 0% 0%);
  @apply subpixel-antialiased;
}

[data-theme="dark"] {
  --secondary: #182026;
  --primary: #f7fafc;
  --link: #ea6c59;
  --aux: #c9cdcf;
  --clip: circle(75%);
}

@responsive {
  .bg-gradient {
    background: rgb(36, 88, 82);
    background: linear-gradient(
      119deg,
      rgba(36, 88, 82, 1) 0%,
      rgba(50, 101, 145, 1) 24%,
      rgba(70, 140, 149, 1) 47%,
      rgba(176, 63, 217, 1) 72%,
      rgba(247, 61, 89, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* lora-regular - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"),
    url("../fonts/lora-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Lora Bold"), local("Lora-Bold"),
    url("../fonts/lora-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"),
    url("../fonts/lora-v14-cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Lora Bold"), local("Lora-Bold"),
    url("../fonts/lora-v14-cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-italic - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Lora Italic"), local("Lora-Italic"),
    url("../fonts/lora-v14-cyrillic-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700italic - cyrillic */
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local("Lora Bold Italic"), local("Lora-BoldItalic"),
    url("../fonts/lora-v14-cyrillic-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v14-cyrillic-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-700 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
    url("../fonts/roboto-mono-v7-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-mono-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.top-right {
  top: 1.4rem;
  right: 2rem;
}

@media screen and (min-width: 768px) {
  .top-right {
    top: 1.4rem;
    right: 7rem;
  }
}

.expanding-bg {
  transition: clip-path 600ms;
  @apply w-full h-full;
  background-color: #182026;
  z-index: -100;
  clip-path: var(--clip);
}

h1 {
  @apply text-4xl font-bold leading-9;
}

h2 {
  @apply text-3xl font-extrabold leading-9;
}

h3 {
  @apply text-xl font-bold leading-9 transition-color duration-500;
}

main {
  @apply transition-color duration-500;
}

.heart {
  width: 14px;
  height: 14px;
  transform: rotate(-45deg);
  @apply bg-pink-600;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  @apply rounded-full bg-pink-600;
}

.heart::before {
  top: -7px;
  left: 0;
}

.heart::after {
  left: 7px;
}

article a,
article + a,
a.author {
  @apply text-link inline-block border-solid border-b-2 border-red-300 duration-200;
}

a.author {
  @apply border-none;
}

article + a:hover,
article a:hover {
  @apply border-red-600;
}

article p {
  @apply pb-4;
}

article p:last-child {
  @apply pb-8;
}

article h2 {
  @apply pb-4 pt-8;
}

article h3 {
  @apply mb-4 mt-8;
}

.gatsby-highlight {
  @apply -mx-3 pb-4 overflow-auto;
}

.gatsby-highlight pre[class*="language-"] {
  @apply rounded box-border;
}

.gatsby-highlight-code-line {
  background-color: rgba(112, 97, 121, 0.37);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid rgb(224, 197, 255);
}

@media screen and (max-width: 768px) {
  .gatsby-highlight pre[class*="language-"] {
    border-radius: 0px;
  }
}

code {
  @apply text-sm;
}

ol,
ul {
  @apply pb-4;
}

a.anchor {
  @apply border-none;
}

h3 a.anchor svg {
  @apply fill-current;
  @apply absolute;
  visibility: visible;
  top: 8px;
  right: 15px;
}

h2 a.anchor svg {
  @apply fill-current;
  @apply absolute;
  visibility: visible;
  top: 40px;
  right: 15px;
}

@variants hover {
  .svg {
    fill: var(--link);
  }
}

/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

.themeSwitch {
  cursor: pointer;
}

.themeSwitch input {
  display: none;
}

.themeSwitch input + div {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: relative;
  box-shadow: inset 10px -10px 0 0 var(--aux);
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}

.themeSwitch input + div:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
}

.themeSwitch input + div:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -14px 0 var(--aux), 0 14px 0 var(--aux), 14px 0 0 var(--aux),
    -14px 0 0 var(--aux), 10px 10px 0 var(--aux), -10px 10px 0 var(--aux),
    10px -10px 0 var(--aux), -10px -10px 0 var(--aux);
  transform: scale(0);
  transition: all 0.3s ease;
}

.themeSwitch input:checked + div {
  box-shadow: inset 32px -32px 0 0 var(--aux);
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}

.themeSwitch input:checked + div:before {
  background: var(--aux);
  transition: background 0.3s ease 0.1s;
}

.themeSwitch input:checked + div:after {
  transform: scale(1.5);
  transition: transform 0.5s ease 0.15s;
}
